<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All transactions</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container mt-5">
        <form ng-submit="getData()">
            <div class="mb-3">
                <label for="delete" class="form-label">Select ID</label>
                <select class="form-select form-select-lg" ng-model="booking_status" id="" required
                    ng-change="getData()">
                    <option selected disabled value="">Select one</option>
                    <option value="Successful">Successful</option>
                    <option value="Unsuccessful">Unsuccessful</option>
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <input type="submit" value="Search" class="btn btn-danger">
            </div>
        </form>
        <section id="tableSection" class="container mt-5">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Email</th>
                        <th scope="col">Booking Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in datas">

                        <td scope="row">{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.phone_num}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.booking_status}}</td>


                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>